<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    body { text-align: center;}
    h1,h2,p { margin: 0; }
    p{line-height: 10px;}
    </style>
  </head>
  <body>
    <h1><%= currentScrim.wins %> - <%= currentScrim.losses %></h1>	
    <p>vs.</p>
    <h2><%= currentScrim.opponent %></h2>
  </body>
</html>
