<!DOCTYPE html>
<html>
  <head>
    <title>PRO Halo Stats - Scrim Bot Commands</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        .command-list { padding-left: 20px; }
        .command { margin-bottom: 30px; }
        .command h3 { margin-bottom: 0; }
        .command p { margin-top: 5px; }
    </style>
  </head>
  <body>
    <h1>Scrim Bot Commands</h1>
    <hr>
    <div class="command-list">
        <div class="command">
            <h3>!commands</h3>
            <p>Provides the URL of this page.</p>
        </div>
        <div class="command">
            <h3>!join</h3>
            <p>Run this command <a href="http://www.twitch.tv/norwegiansven" target="_blank">this channels chat</a> to tell the bot to join your channel.</p>
        </div>
        <div class="command">
            <h3>!getteams</h3>
            <p>Returns a list of all teams using ProHaloStats.</p>
        </div>
        <div class="command">
            <h3>!setteam</h3>
            <p>Set the team you will be playing scrims for. Run before using the rest of commands once or when a team change occurs.</p>
        </div>
        <div class="command">
            <h3>!newseries <i>opponent</i></h3>
            <p>Starts a new series with a score of 0-0. Replace <i>oppenent</i> with opposing team's name.</p>
        </div>
        <div class="command">
            <h3>!finishseries</h3>
            <p>Completes the current series and archives the store.</p>
        </div>
        <div class="command">
            <h3>!win</h3>
            <p>Logs a win for your team.</p>
        </div>
        <div class="command">
            <h3>!loss</h3>
            <p>Logs a loss for your team.</p>
        </div>
        <div class="command">
            <h3>!score</h3>
            <p>Returns the current score of the series</p>
        </div>
    </div>
  </body>
</html>
