<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
    <title>PRO Halo Stats - Scrim Bot Commands</title>
    
    <style type="text/css">
        .command-list { padding-left: 20px; }
        .command { margin-bottom: 30px; }
        .command h3 { margin-bottom: 0; }
        .command p { margin-top: 5px; }
    </style>
  </head>
  <body>
    <% include partials/header.ejs %>

    <div class="container">
       <h1></h1>
       <hr>
    </div><!-- /.container -->
    

    <% include partials/footer.ejs %>

    <% include partials/footer-scripts.ejs %>
  </body>
</html>
